@charset "utf-8";
/* 清除内外边距 */

body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, fieldset, lengend, button, input, textarea, th, td div {margin:0;padding:0; }
*{margin:0;padding:0;}
/* 设置默认字体 */
/*body, button, input, select, textarea {font:12px/1 宋体, Tahoma, Helvetica, Arial,  "\5b8b\4f53", sans-serif;}*/
body, button, input, select, textarea {font-size:12px;font-family:"宋体", Tahoma,"微软雅黑", Arial,  "\5b8b\4f53", sans-serif;color:#5f5f5f}
h1,h2,h3{font-family:"微软雅黑"; font-weight:normal;}
h1{font-size:18px;}
h2{font-size:16px; }
h3{font-size:14px;font-weight:400 }
h4, h5, h6 {font-size:100%;}
address, cite, dfn, em, var {font-style:normal;}
code, kbd, pre, samp, tt {font-family:"Courier New", Courier, monospace;} 
small {font-size:12px;}
/* 重置列表元素 */
ul, ol {list-style:none;}
/* 重置文本格式元素 */
a {text-decoration:none;color:#757575;}
a:hover {color:#53a7e7; text-decoration:none;}
abbr[title], acronym[title] {border-bottom:1px dotted;cursor:help;}
q:before, q:after {content:'';}
/* 重置表单元素 */
legend {color:#000;}
fieldset, img {border:none;}
/* 注：optgroup 无法扶正 */
button, input, select, textarea {font-size:100%;}
/* 重置表格元素 */
table {border-collapse:collapse;border-spacing:0;}
/* 重置 hr */
hr {border:none;height:1px;}
/* 让非ie浏览器默认也显示垂直滚动条，防止因滚动条引起的闪烁 */
html {overflow-y:scroll;}
/*清除浮动*/
.clearfix:after {content: ".";display:block;height:0;clear:both;visibility:hidden;
}
.clearfix {zoom:1;}

.fl{
	float: left;
}
.fr{
	float: right;
}
.tr{
	text-align:right;
}
.tl{
	text-align:left;
}
.tc{
	text-align: center;
}






